# Eclipse
.settings/
.classpath
.project


# FrameWork
/target/
/test-report/
/reports/


logs/

# Mac desktop service store files
*.DS_Store
.AppleDouble
.LSOverride
*.cache

	

*.dll
*.exe
*.exp
*.ilk
*.lib
*.ncb
*.log
*.pdb
*.lnk

# Java
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar

